#main-row.container
  %h1.text-center
    Current activity
  %h2.text-center
    Trello monitoring
  #trello-calendar

%h2.text-center
  Tasks stock
= high_chart( 'tasks_chart', @tasks_chart )

= hidden_field_tag :task_record_controller, true
= hidden_field_tag :tasks_data, @tasks_data