#main-row.container
  %h1.text-center
    Git activity
  - @git_repositories.each do |repository|
    %h2.text-center= repository.gsub('-','_').humanize
    %div{ id: repository }

= hidden_field_tag :git_data, @git_data
= hidden_field_tag :git_repositories_json, @git_repositories_json